*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #f083cf;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #1dbfdb;
  box-shadow: 30px 0 0 #f08630;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

.time--city {
  bottom: 29px;
  right: 0;
  padding: 7px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  position: absolute;
  background-color: #ffffff;
}

.time {
  top: 0;
  border-bottom-left-radius: 5px;
  right: 0;
  position: absolute;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-top-right-radius: 15px;
  background-color: #1dbfdb;
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #600dbf;
  }
  50% {
    box-shadow: 0 0 0 #5a0dbf;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #690dbf;
    margin-top: 0;
  }
}

.card-con-con {
  align-items: center;
}

.bigContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forehead {
  display: flex;
}

.app-container {
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: #f3f3f3;
  border-radius: 25px;
}

.app-container svg.menu {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 101;
  color: #6bb3dd;
}

.app-container .nav-container {
  height: 100%;
  width: 22vw;
  background-color: #f7a5b0;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.app-container .nav-container .logo-con div {
  color: #6bb3dd !important;
}

.padding {
  margin-right: 7px;
  color: #ffff67;
}

.card-con {
  width: 93%;
  height: 300px;
  background-color: white;
  margin: 0px;
  border-radius: 20px;
}

.text-con {
  padding-left: 20px;
}

.forcast-con {
  width: 78vw;
}

.weather-forcast {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider .daily-slider {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
}

.slider .daily-slider .mini-card {
  height: 120px;
  width: 10%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.534);
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(138, 138, 138, 0.692);
  color: #222222;
  transition: all 0.2s ease-out;
  position: relative;
  bottom: 0;
}

.slider .daily-slider .mini-card:hover {
  bottom: 10px;
}

.citys {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.citys div {
  font-family: "Quicksand", sans-serif;
  font-weight: 700 !important;
}

.dropdown-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  margin-top: 5px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border-radius: 10px;
  height: 55px;
  border: 4px solid gray;
  position: relative !important;
}

.icon .icon-pic {
  height: 35px;
  border-radius: 50%;
  width: 35px;
  background-color: gray;
}

.icon .icon-pic img {
  height: 35px;
  border-radius: 50%;
}

.icon .name {
  font-family: "Quicksand";
  color: gray;
  font-weight: bold;
}

.icon .dropdown {
  cursor: pointer;
}

.activeCity {
  transform: translateY(-13px);
  color: #4fa1ca;
  transition: transform 0.3s ease;
}

.details {
  width: 95%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Quicksand";
}

.details h5 {
  cursor: pointer;
}

.details h5 a {
  color: #4fa1ca;
  font-weight: bold;
  text-decoration: none;
}

.buttonContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  left: 0;
  z-index: -5;
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  justify-content: space-between;
}

.buttonContainer svg {
  height: 3rem;
  width: 3rem;
  z-index: 5;
  color: #6bb3dd;
  cursor: pointer;
}

.menu {
  color: #6bb3dd;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

@keyframes navbarIn {
  from {
    transform: translateX(-50rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navbarOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50rem);
  }
}

.date {
  color: #0000009a;
  letter-spacing: 1px;
}

.deg {
  color: #474747;
  letter-spacing: 0.5px;
}

.hourlySlider .daily-slider .mini-card {
  height: 145px;
}

@media only screen and (max-width: 900px) {
  .bigContainer {
    height: auto;
    background-color: #f3f3f3 !important;
  }
  .weather-forcast {
    display: none;
  }
  .forehead {
    display: none !important;
  }
  svg.menu {
    position: fixed !important;
    top: 0;
  }
  .title {
    font-family: "Balsamiq Sans", cursive;
  }
  .nav-container {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    width: 100% !important;
    height: auto !important;
    border-radius: 0 !important;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
  }
  .nav-container nav {
    padding: 0px;
  }
  .nav-container img {
    margin-top: 20px;
  }
  .nav-container .card-con {
    display: none;
  }
  .nav-container .nav-link {
    margin-top: 50px;
  }
  .nav-container .navCities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-container .navCities .city-card {
    margin: 15px 0;
  }
  .nav-container .navCities .city-card .time--city {
    display: none;
  }
  .nav-container .navCities .city-card div {
    width: 100%;
    text-align: center;
  }
  .forcast-con {
    width: 100%;
    min-height: 100vh;
  }
  .daily-card-con {
    width: 95vw;
  }
  #dailyCard {
    margin-top: 14vh;
    margin-bottom: 2rem;
  }
  .details {
    width: 93vw;
  }
  .buttonContainer {
    bottom: 39.5rem;
  }
  .hourlySlider .details {
    bottom: 3.2rem;
    position: relative;
  }
  .hourlySlider .daily-slider {
    margin-top: 1rem;
  }
  .hourlySlider .daily-slider .mini-card .text-container {
    justify-content: flex-end !important;
    gap: 2rem !important;
  }
  .slider {
    justify-content: flex-end;
    width: 95vw;
    height: auto;
    margin-bottom: 5vh;
  }
  .slider .daily-slider {
    z-index: 3;
    flex-direction: column;
  }
  .slider .daily-slider .date {
    padding-left: 50px;
  }
  .slider .daily-slider .mini-card {
    width: 90vw !important;
    margin: auto;
    height: 5rem;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
  }
  .slider .daily-slider .mini-card img {
    position: relative !important;
    left: 10px;
  }
  .slider .daily-slider .mini-card .text-container {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider .daily-slider .mini-card .chart-con {
    height: auto;
  }
  .icon {
    display: none;
  }
  .card-con-con {
    align-items: flex-start;
  }
  .app-container {
    height: 84%;
  }
}

@media only screen and (min-width: 900px) {
  .daily-card-con {
    display: none;
  }
}

.example-enter {
  opacity: 0;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

h3 {
  font-family: "Balsamiq Sans";
}

.container {
  display: flex;
  height: 550px;
}

.image {
  flex: 0 0 50%;
  background-image: url(./atlas-wal.png);
  background-size: cover;
  background-position: center;
}

.card {
  flex: 0 0 50%;
  display: flex;
}

.bold {
  font-weight: 600;
}

.btn {
  background-color: #e261c6;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.box {
  position: relative;
  margin-left: 50px;
}

.input {
  height: 50px;
  padding: 10px;
  border: 4px solid #6e6e6e;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 21px;
  color: #000000;
  outline: none;
  transition: 0.5s;
  width: 350px;
  background: #66666654;
  border-radius: 10px;
}

.dropdown-text {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  background-color: #747474;
  padding: 10px;
  font-family: "Quicksand";
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  display: none;
}

.dropdown-links {
  position: absolute;
  bottom: -60px;
  right: -12px;
  width: 190px;
}

.dropdown:hover .dropdown-text {
  display: block;
}

.glass {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: #3d3d3d;
  transition: 0.2s;
}

@media only screen and (max-width: 1170px) {
  .input {
    width: 230px;
  }
}

@media only screen and (max-width: 1100px) {
  .time {
    padding: 7px;
  }
}

@media only screen and (max-width: 550px) {
  .image {
    display: none;
  }
  .card {
    flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */