*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.card-con-con {
  align-items: center;
}

.bigContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forehead {
  display: flex;
}

.app-container {
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: rgb(243, 243, 243);
  border-radius: 25px;

  svg.menu {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 101;
    color: rgb(107, 179, 221);
  }

  .nav-container {
    height: 100%;
    width: 22vw;
    background-color: rgb(247, 165, 176);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    // .nav {
    //   .nav-link {
    //     border-left: 4px solid transparent;
    //     &.activeTab {
    //       border-left: 4px solid rgb(243, 243, 243);
    //     }
    //   }
    // }

    .logo-con {
      div {
        color: rgb(107, 179, 221) !important;
      }
    }
  }
}

.padding {
  margin-right: 7px;

  color: rgb(255, 255, 103);
}

.card-con {
  width: 93%;
  height: 300px;
  background-color: white;
  margin: 0px;
  border-radius: 20px;
}
.text-con {
  padding-left: 20px;
}

.forcast-con {
  width: 78vw;
}
.weather-forcast {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .daily-slider {
    z-index: 3;
    display: flex;
    justify-content: space-evenly;

    .mini-card {
      height: 120px;
      width: 10%;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      padding: 0px;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      align-items: center;
      justify-content: flex-start;
      border: 2px solid rgb(247, 165, 176);
      color: rgb(34, 34, 34);
      transition: all 0.5s ease;
      position: relative;
      bottom: 0;

      &:hover {
        // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
        bottom: 10px;
      }
    }
  }
}

.citys {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  div {
    font-family: "Quicksand", sans-serif;
    font-weight: 700 !important;
  }
}

.icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 165px;
  border-radius: 10px;
  height: 50px;
  border: 2px solid gray;

  .icon-pic {
    height: 35px;
    border-radius: 50%;
    width: 35px;
    background-color: gray;
    img {
      height: 35px;
      border-radius: 50%;
    }
  }
  .name {
    color: gray;
  }
  .dropdown {
    cursor: pointer;
  }
}
.activeCity {
  transform: translateY(-13px);
  color: #4fa1ca;
  transition: transform 0.3s ease;
}

.details {
  width: 95%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Quicksand";
  h5 {
    cursor: pointer;
    a {
      color: #4fa1ca;
      font-weight: bold;

      text-decoration: none;
    }
  }
}

//hourly slider
.buttonContainer {
  position: relative;
  // bottom: 5.5rem;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  svg {
    height: 2rem;
    width: 2rem;
    z-index: 5;
    cursor: pointer;
  }
}
.menu {
  color: rgb(107, 179, 221);
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

@keyframes navbarIn {
  from {
    transform: translateX(-50rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navbarOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50rem);
  }
}

.hourlySlider .daily-slider .mini-card {
  height: 145px;
}

@media only screen and (max-width: 900px) {
  .bigContainer {
    background-color: #f3f3f3 !important;
    height: auto;
  }
  .weather-forcast {
    display: none;
  }
  .forehead {
    display: none !important;
  }

  svg.menu {
    position: fixed !important;
    top: 0;
  }
  .title {
    font-family: "Balsamiq Sans", cursive;
  }
  .nav-container {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;

    nav {
      padding: 0px;
    }
    .card-con {
      display: none;
    }

    .navCities {
      display: grid;
      grid-template-columns: 45% 45%;
      color: white;
      gap: 5%;
      margin: 2rem auto;
      margin-left: 1rem;
      width: 95%;
      // justify-items: center;

      .city-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 22.5%;
        img {
          width: 20vh;
        }
        div {
          width: 100%;
          margin-left: 100%;
          text-align: center;
        }
      }
    }
  }

  .forcast-con {
    width: 100%;
    min-height: auto;
  }
  .daily-card-con {
    width: 95vw;
  }
  #dailyCard {
    margin-top: 14vh;
    margin-bottom: 2rem;
  }
  .details {
    width: 93vw;
  }

  .buttonContainer {
    bottom: 39.5rem;
  }
  .hourlySlider {
    .details {
      bottom: 3.2rem;
      position: relative;
    }

    .daily-slider {
      margin-top: 1rem;

      .mini-card .text-container {
        justify-content: flex-end !important;
        gap: 2rem !important;
      }
    }
  }
  .slider {
    justify-content: flex-end;
    width: 95vw;
    height: auto;
    margin-bottom: 5vh;

    .daily-slider {
      z-index: 3;

      flex-direction: column;

      .mini-card {
        width: 90vw !important;
        margin: auto;
        height: 5rem;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        position: relative;
        div img {
          position: relative !important;
        }

        .text-container {
          width: 100%;
          display: flex;
          flex-direction: row !important;
          justify-content: space-evenly;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .chart-con {
          height: auto;
        }
      }
    }
  }

  .icon {
    display: none;
  }

  .card-con-con {
    align-items: flex-start;
  }

  .app-container {
    height: 84%;
  }
}
@media only screen and (min-width: 900px) {
  .daily-card-con {
    display: none;
  }
}
.example-enter {
  opacity: 0;
}
.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
h3 {
  font-family: "Balsamiq Sans";
}
